.outer-container {
  margin-top: 2rem;
  position: relative;
  overflow-x: hidden;
  margin-inline: auto;
  width: 100%;
}
.header-videos-container {
  position: relative;
  height: min(300px, 30vw);
  max-width: 750px;
  margin-inline: auto;
  display: flex;
}
.inner-container {
  height: inherit;
  overflow-y: hidden;
}
.inner-container-video-player {
  outline: 2px solid yellow;
}
.inner-container-video-player-img {
  width: 100%;
  width: 100%;
}
.inner-container-channel-info {
  background-color: white;
}
.header-videos-arrow {
  position: absolute;
  z-index: 2;
  font-size: 1.3rem;
  padding: 0.5rem 0.7rem;
  border-radius: 20%;
  background: rgb(246, 246, 246);
  cursor: pointer;
}
.arrow-left {
  top: 50%;
  left: 25px;
}
.arrow-right {
  top: 50%;
  right: 25px;
}
.inner-container {
  position: absolute;
  width: 100%;
  transition: all 0.3s;
  align-self: center;
}
