.live-elements-category-container {
  margin: 2vw auto;
}
.live-elements-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(30vw, 240px), 1fr));
  column-gap: 15px;
  row-gap: 10px;
  justify-content: space-between;
  overflow-y: hidden;
}
.live-element {
  height: 40vw;
}
.live-element-inner-container {
  height: inherit;
  display: grid;
  grid-template-rows: 60% 40%;
}
@media screen and (min-width: 887px) {
  .live-element {
    height: 25vw;
  }
}
@media screen and (min-width: 1167px) {
  .live-element {
    height: 20vw;
  }
}

@media screen and (min-width: 1317px) {
  .live-element {
    height: 16vw;
  }
}
.display-elements-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f7f7f8;
  border: none;
  padding: min(2vw, 5px) min(3vw, 10px);
  cursor: pointer;
  font-weight: bold;
  color: #5c16c5;
  border-radius: 4%;
}
.display-elements-btn:hover {
  background: var(--dark-white-hover);
}
.show-more,
.show-less {
  font-size: min(2.7vw, 0.8rem);
}
.live-thumbnail {
  cursor: pointer;
  width: 100%;
  object-fit: cover;
}
.live-element-info-container {
  height: 100%;
}
.live-element-channel_img-name {
  display: grid;
  grid-template-columns: auto 1fr;
}
.live-element-profile-image {
  cursor: pointer;
  border-radius: 50%;
  width: min(40px, 6vw);
  margin-right: 1vw;
}
.live-element-title {
  font-size: min(2.2vw, 0.9rem);
  cursor: pointer;
  color: rgb(18, 18, 18);
}
.live-element-profile-name {
  cursor: pointer;
  color: gray;
  font-weight: 100;
  font-size: min(2.2vw, 0.8rem);
}
.live-element-img-link {
  align-self: flex-start;
}
.live-element-profile-info {
  display: grid;
}
.live-element-link-profile-name {
  width: fit-content;
  display: flex;
  text-decoration: none;
}
