.live-streams-category-container {
  margin-top: 5vh;
  margin-bottom: 10vh;
}
.live-streams-msg {
  font-size: 3.1vw;
  margin-bottom: 0.7rem;
}
@media screen and (min-width: 600px) {
  .live-streams-msg {
    font-size: 1.1rem;
  }
}
.live-streams-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(30vw, 300px), 1fr));
  column-gap: 15px;
  row-gap: 10px;
  justify-content: space-between;
  overflow-y: hidden;
  outline: 2px solid red;
}
.live-stream {
  outline: 2px solid blue;
  height: min(45vw, 300px);
}
.display-stream-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f7f7f8;
  border: none;
  padding: 0 min(7vw, 30px);
  cursor: pointer;
  font-weight: bold;
  color: #5c16c5;
}
.show-more,
.show-less {
  font-size: min(2.7vw, 0.8rem);
}
